<home-request>
    <div class="container">
        <div class="request-page col-xs-12 col-sm-10">
            <div class="title-page">
                <h2 class="title">Request Payment</h2>
                <p>Enter the information below to request a payment.</p>
            </div>
            <div class="col-xs-12 main-content">
                <div class="form-group email-account">
                    <label>Email</label>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Search by email">
                        <span class="input-group-addon glyphicon glyphicon-search"></span>
                    </div>
                </div>
                <div class="form-group amount-field col-xs-6 col-sm-4">
                    <label>Amount</label>
                    <div class="input-group">
                        <span class="input-group-addon">Flash</span>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <label>Transaction Note</label>
                    <textarea type="text" class="form-control" placeholder="" ></textarea>
                </div>
                <div class="send__buttons form-group col-xs-12">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal3">CONTINUE</button>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal4">Clear</button>
                </div>
            </div>
        </div>
    </div>
</home-request>
